*.o
*.xml
*.pyc
*.txt
*.pcap
*.map
*.csv
!tmp.txt
!*.pdf
!simulation_parameters.json

ns-allinone-3.33-FTM-SigStr/ns-3.33/src/wifi/ftm_map/*.map
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/simulations/**/*m
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/simulations/**/*.pdf
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/sig_str/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/sig_str_fading/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/wired/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/ftm_ranging/wireless/*
ns-allinone-3.33-FTM-SigStr/__pycache__/*
ns-allinone-3.33-FTM-SigStr/bake/*
ns-allinone-3.33-FTM-SigStr/netanim-3.108/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/__pycache__/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/bindings/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/build/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/doc/*
ns-allinone-3.33-FTM-SigStr/ns-3.33/.*